<div class="row">
    <div class="col-md-4">
        <%= render 'posts/form' %>
    </div>
    <div class="col-md-8">
        <% @posts.each do |post| %>
        <div class="card border-info">
            <div class="card-header">
                <p class="card-text"><%= post.post %></p>
            </div>
            <div class="card-body">
                <% if user_signed_in? && ( post.user_id ) %>
                        <div>
                            <strong>by <%= post.user.name %></strong>
                      
                        </div>
                <% end %>
                
                <hr>
            </div>
        </div>
        <% end %>
    </div>
</div>

